$ab-height: 100px;
$ab-info-width: 400px;
$ab-control-width: 170px;
$ab-menu-width: 170px;
$ab-img-size: 100px;
$ctrl-btn-size: 2.5rem;
$center-btn-size: 4rem;
$color-brown: #848484;


.audioBar {
  position: relative;
  width: 100%;
  background-color: #1e1e1e;
  color: white;
  min-height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audioBar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.audioBar-wrap-meta-img,
.audioBar-range {
  display: none;
}


@include respond-to('medium-up') {
  .audioBar {
    min-height: $ab-height;
    display: block;
  }

  .audioBar-wrapper {
    flex-direction: row;
    height: $ab-img-size;
    overflow: hidden;
  }

  .audioBar-range {
    display: block;
    padding: 0 0.5em;
    flex-grow: 1;
  }

  .audioBar-wrap-meta-img {
    display: flex;
    flex-direction: row;
  }

  .audioBar-img {
    max-width: $ab-img-size;
    min-width: $ab-img-size;

    & > img {
      width: $ab-img-size;
      height: $ab-img-size;
    }
  }

  .audioBar-meta {
    padding: 0 0.5em;
  }

  .audioBar-control {
    padding: 0 0.5em;
    min-width: 12rem;
  }

  .audioBar-menu {
    padding: 0 0.5em;
  }

}
