$ab-height: 12rem;
$ab-height-phone: 8rem;

$ab-coll1-w-portable: 2rem;
$ab-coll2-w-portable: 100%;
$ab-coll3-w-portable: 5rem;

$ab-coll1-w: 35rem;
$ab-coll3-w: 15.5rem;

.audioBar {
  position: relative;
  width: 100%;
  background-color: #1e1e1e;
  color: $white;
  height: $ab-height-phone;
  z-index: 500;
}

.audioBar-wrapper {
  display: block;
  height: 100%;
}

.audioBar-coll1 {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: $ab-coll1-w-portable;
  z-index: 2;
}

.audioBar-coll2 {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-left: $ab-coll1-w-portable;
  padding-right: $ab-coll3-w-portable;
}

.audioBar-coll3 {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: $ab-coll3-w-portable;
  right: 1rem;
  z-index: 2;
}

@include respond-to('medium-up') {
  .audioBar {
    height: $ab-height;
  }

  .audioBar-coll1 {
    width: $ab-coll1-w;
  }

  .audioBar-coll2 {
    padding-left: $ab-coll1-w;
    padding-right: $ab-coll3-w;
  }

  .audioBar-coll3 {
    width: $ab-coll3-w;
  }
}

//
//.audioBar {
//  position: relative;
//  width: 100%;
//  background-color: #1e1e1e;
//  color: white;
//  min-height: 7rem;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
//
//.audioBar-wrapper {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//}
//
//
//.audioBar-wrap-meta-img,
//.audioBar-range {
//  display: none;
//}
//
//
//@include respond-to('medium-up') {
//  .audioBar {
//    min-height: $ab-height;
//    display: block;
//  }
//
//  .audioBar-wrapper {
//    flex-direction: row;
//    height: $ab-img-size;
//    overflow: hidden;
//  }
//
//  .audioBar-range {
//    display: block;
//    padding: 0 0.5em;
//    flex-grow: 1;
//  }
//
//  .audioBar-wrap-meta-img {
//    display: flex;
//    flex-direction: row;
//  }
//
//  .audioBar-img {
//    max-width: $ab-img-size;
//    min-width: $ab-img-size;
//
//    & > img {
//      width: $ab-img-size;
//      height: $ab-img-size;
//    }
//  }
//
//  .audioBar-meta {
//    padding: 0 0.5em;
//  }
//
//  .audioBar-control {
//    padding: 0 0.5em;
//    min-width: 14rem;
//  }
//
//  .audioBar-menu {
//    padding: 0 0.5em;
//  }
//
//}
