$bread-font-size: 1.5rem;
$color-bg-bread: rgba(0, 0, 0, 0.75);

.meta-track-bread {
  position: absolute;
  bottom: 8rem;
  right: 2rem;
  width: fit-content;
  max-width: 100vh;
  max-height: calc(100vh - 8rem);
  overflow-y: auto;
  font-size: $bread-font-size;
  background: $color-bg-bread;
  transform: scale(1, 0);
  transform-origin: bottom;
  transition: transform 0.5s;

  &.is-open {
    transform: scale(1, 1);

    .meta-track-bread-link,
    .meta-track-bread-play {
      opacity: 1;
      transition: opacity 0.3s 0.4s;
    }
  }
}

.meta-track-bread-link,
.meta-track-bread-play {
  padding: 0.7rem 1.8rem;
  display: flex;
  width: 100%;
  opacity: 0;

  .icon {
    padding-right: 1rem;
  }
}

.meta-track-bread-link {
  color: $white;

  &:hover {
    color: $color-primary;
  }
}

//.meta-track-bread-play {
//
//}
