$bread-font-size: 1.5rem;
$color-bg-bread: rgba(0, 0, 0, 0.75);

.meta-track-bread {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  width: max-content;
  max-height: calc(100vh - 7rem);
  overflow-y: auto;
  z-index: 50000;
  font-size: $bread-font-size;
  background: $color-bg-bread;
  transform: scale(1, 0);
  transform-origin: bottom;
  transition: transform 0.5s;

  &.is-open {
    transform: scale(1, 1);
  }
}

.meta-track-bread-link {
  a {
    color: $white;
    width: 100%;
    padding: 0.7rem 1.8rem;
    display: flex;
    &:hover {
      color: $color-primary;
    }
  }

  .icon {
    padding-right: 1rem;
  }
}

.meta-track-bread-play {
  padding: 0.7rem 1.8rem;
  display: flex;

  .icon {
    padding-right: 1rem;
  }
}