$color-theme-1: $color-primary;

.pr-control-element {
  display: flex;
  justify-content: center;

  .mtn-elmt {
    font-size: 0.85rem;
  }

  .pr-control-bar {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0 10px;
    padding: 10px 0;
    cursor: pointer;

    .pr-bar {
      position: absolute;
      top: 10px;
      left: 0;
      height: 2px;
      transition: height 0.5s;
    }

    .pr-bar-played {
      background-color: $color-theme-1;
    }

    .pr-bar-buffed {
      background-color: #fff;
    }

    .pr-bar-line {
      width: 100%;
      background-color: #bcbcbc;
    }

    .pr-bar-handler {
      position: absolute;
      //top: 3px;
      top: 5px;
      width: 15px;
      height: 15px;
      margin-left: -7px;
      border-radius: 50%;
      background-color: $color-theme-1;
      transform: scale(0.5);
      opacity: 0;
      transition: transform 0.3s, opacity 0.3s;
    }
  }

  &.pr-is-pressed {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
  }

  &.pr-is-pressed .pr-control-bar,
  .pr-control-bar:hover {
    .pr-bar {
      height: 5px;
    }

    .pr-bar-handler {
      transform: scale(1);
      opacity: 1;
    }
  }
}
