/**
 * Created by Marc Foletto on 27/02/2017.
 * Color file
 */

button {
  background: transparent;
  -webkit-appearance: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.btn {
  display: inline-block;
  background: transparent;
  color: $color-primary;
  padding: 1.5rem;

  &.icon-btn {
    .icon {
      font-size: 2rem;
    }

    &.little {
      .icon {
        font-size: 1rem;
      }
    }

    &.big {
      .icon {
        font-size: 5rem;
      }
    }
  }
}
