/**
 * Created by Marc Foletto on 27/02/2017.
 * Color file
 */

button {
  background: transparent;
  -webkit-appearance: none;
  border: none;

  //&:focus {
  //  outline: none;
  //}
}

.btn {
  display: inline-block;
  background: transparent;
  color: $color-primary;
  padding: 1rem;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

  &:hover,
  &:focus {
    color: lighten($color-primary, 20%);
  }

  &.white {
    color: $white;

    &.hover,
    &:focus {
      color: darken($white, 20%);
    }
  }

  &.btn-icon {
    .icon {
      font-size: 2rem;
    }

    &.little {
      .icon {
        font-size: 1rem;
      }
    }

    &.big {
      .icon {
        font-size: 5rem;
      }
    }
  }
}
