/**
 * Created by Marc Foletto on 27/02/2017.
 * Color file
 */

// Background
$bgColor: #f9f9fa;
// Note the tree has is color: #d7d7db;

$linkcolor: #00f2e9;

$white: white;


.white{
  color: $white!important;
}

.bgwhite{
  color: $white!important;
}

