body {
  background: url('../../../../../public/images/bg2.jpg') no-repeat center fixed;
  background-color: #3d3d3d;
  -webkit-background-size: cover;
  background-size: cover;
}

a {
  color: #00928a;
}
