@import "var";
@import "mixin";
@import "reboot";
@import "color";
@import "fonts/fonts";
@import "button";
@import "icon";

body.pl-app {
  background: #{$bgImageProp};
  background-color: $bgColor;
  font-family: Numito, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}

.ui {
  &.container {
    &.app-main-container {
      padding-top: 80px;
    }
  }

  .loader {
    position: fixed !important;
  }
}

a {
  color: $linkcolor;
}

@media (max-width: 767px) {
  .ui {
    &.container {
      &.app-main-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}
