{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    // Active it later
    "react/prop-types": "off",
    //
    "semi": "off",
    "no-multiple-empty-lines": "off",
    "brace-style": "off",
    "no-return-assign": "off",
    "promise/param-names": 1,
    "comma-dangle": "off",
    "space-before-function-paren": 0
  }
}