{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    "semi": "off",
    "no-multiple-empty-lines": "off"
  }
}