$color-track: white;
$color-bg-playing: rgba(35, 35, 35, 0.7);

.info-panel-playlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .info-panel-playlist-img {
    width: 30rem;
    max-width: 100%;

    img {
      width: 100%;
    }
  }

  .label {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .info-panel-playlist-meta {
    padding: 2rem;

    .title,
    .author-wrapper,
    .label,
    .length {
      display: block;
    }

    .title {
      font-size: 5rem;
      line-height: 1;
    }

    .author {
      color: $gray-100;
    }
  }
}
