$color-bg-item: rgba(200, 200, 200, 0.08);;
$color-bg-item-hover: rgba(255, 255, 255, 0.85);
$border-item: "solid 1px #ffffff";
$color-link: rgba(0, 0, 0, 0.87);
$color-link-hover: rgba(0, 0, 0, 0.87);
$color-icon: rgba(0, 0, 0, 0.87);

.fol-item {
  display: block;
  width: 100%;
  position: relative;
  background: $color-bg-item;
  border-bottom: #{$border-item};
  padding: 0 60px 0 20px;

  & > a {
    color: $color-link;
  }

  &.fol-item-isfolder {
    padding-right: 170px;

    .fol-item-menu {
      width: 170px;
    }
  }

  .fol-item-menu-label {
    display: none;
    cursor: pointer;
  }

  .fol-item-inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 70px;

    .icon {
      color: $color-icon;
      margin-right: 20px;
    }
  }

  .fol-item-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    right: 0;
    position: absolute;
    width: 60px;
    height: 100%;

    .fol-item-menu-inner {
      display: inline-block;
      //width: 80px;
    }

    .button,
    .ui.basic.teal.button {
      font-size: 1.2rem;
      margin: 0.25em !important;

      .list {
        padding: 0 !important;
      }
    }
  }

  &:hover {
    background-color: $color-bg-item-hover;

    .fol-item-inner {
      .fol-item-title {
        color: $color-link-hover;
      }
    }
  }
}

@media (max-width: 667px) {
  .fol-item {
    padding: 0 5px !important;

    &.fol-item-isfolder {
      .fol-item-menu-label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 70px;
        width: 40px;
        transition: transform 0.2s;
      }

      .fol-item-menu-label:hover,
      .fol-item-menu-label:focus {
        .icon {
          color: rgba(255, 255, 255, 0.85);
        }
      }

      .fol-item-inner {
        padding-right: 30px;
      }

      .fol-item-menu {
        position: relative;
        justify-content: flex-start;
        width: 100%;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: padding-left 0.3s, height 0.3s, opacity 0.2s;
      }

    }
  }
}
