$color-bg-fol-item: rgba(200, 200, 200, 0.08);
$color-bg-fol-item-hover: rgba(255, 255, 255, 0.85);
$color-border-fol-item: "solid 1px #ffffff";
$color-link-fol-item: $link-color;
$color-link-fol-item-hover: $link-color-hover;

$color-icon-fol-item: $color-primary;
$color-icon-fol-item-hover: $color-primary-hover;

.fol-item {
  background: $color-bg-fol-item;
  border-bottom: #{$color-border-fol-item};
  display: grid;
  grid-template-areas: "icon title" "menu menu";
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px;
  align-items: center;

  &:hover {
    background: $color-bg-fol-item-hover;

    & > .fol-item-icon {
      color: $color-icon-fol-item-hover;
    }

    & > .fol-item-menu > .btn {
      color: $color-icon-fol-item-hover;
    }
  }
}

.fol-item-icon {
  grid-area: icon;
  padding: 0 8px;
  color: $color-icon-fol-item;
}

.fol-item-title {
  grid-area: title;
  color: $color-link-fol-item;
  cursor: pointer;
}

.fol-item-menu {
  grid-area: menu;

  & > .btn {
    background: none;
    color: $color-icon-fol-item;
  }
}

@include respond-to("small-up") {
  .fol-item {
    grid-template-areas: "icon title menu";
    grid-template-columns: auto 1fr auto;
  }
}
