$color-bg-fol-item: $color-bg-row;
$color-bg-fol-item-hover: $color-bg-row-hover;
$color-border-fol-item: $border-row;
$color-link-fol-item: $link-color;
$color-link-fol-item-hover: $link-color-hover;

$color-icon-fol-item: $color-primary;
$color-icon-fol-item-hover: $color-primary-hover;

.fol-item {
  background: $color-bg-fol-item;
  border-bottom: #{$color-border-fol-item};
  display: grid;
  grid-template-areas: "icon title" "menu menu";
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(50px, 1fr);;
  align-items: center;

  &:hover {
    background: $color-bg-fol-item-hover;

    & > .fol-item-icon {
      color: $color-icon-fol-item-hover;
    }

    & > .fol-item-menu > .btn {
      color: $color-icon-fol-item-hover;
    }
  }
}

.fol-item-icon {
  grid-area: icon;
  padding: 0 8px;
  color: $color-icon-fol-item;
}

.fol-item-title {
  grid-area: title;
  color: $color-link-fol-item;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: stretch;
  word-break: break-all;
}

.fol-item-menu {
  grid-area: menu;

  & > .btn {
    background: none;
    color: $color-icon-fol-item;
  }
}

@include respond-to("small-up") {
  .fol-item {
    grid-template-areas: "icon title menu";
    grid-template-columns: auto 1fr auto;
  }
}
