/**
 * Created by Marc Foletto on 27/02/2017.
 * Color file
 */

$color-bg-row: rgba(200, 200, 200, 0.08);
$color-bg-row-hover: rgba(255, 255, 255, 0.85);
$border-row: "solid 1px #ffffff";

$color-txt-row: $link-color;
$color-txt-row-hover: $link-color-hover;

$color-icon-row: $color-primary;
$color-icon-row: $color-primary-hover;

.white {
  color: $white !important;
}

.bgwhite {
  color: $white !important;
}

