$side-larger: 20rem;
$main-padding: 2rem;

$color-bg-side-bar: #535353;
$color-font-side-bar: $white;
$color-font-side-bar-nav-selected: $color-primary;

$color-bg-side-bar-phone: #535353;
$color-font-side-bar-phone: $white;
$color-font-side-bar-nav-selected-phone: $color-primary;

$color-bg-body: #535353;
$color-border-aside: #707070;

/////// Body Init

html,
body,
#root {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background: url('../assets/images/ginkgo_gris.png') no-repeat center fixed;
  background-size: contain;
  background-color: $color-bg-body;
}

//////////////////////////// LAYOUT

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#side-and-main-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#main-side {
  background: $color-bg-side-bar-phone;
  position: absolute;
  display: inline-block;
  height: 100%;
  transition: left 1s, background 1s, width 1s;
  left: -$side-larger;
  width: $side-larger;
  z-index: $zindex-navigation-small;
  border-right: solid 1px $color-border-aside;

  @include respond-to("medium-up") {
    left: 0;
    background: $color-bg-side-bar;
  }

  &.menu-is-open {
    width: 100%;
    left: 0;
  }
}

#main-content {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: auto;
  height: 100%;
  transition: padding 1s;
  padding: $main-padding;

  @include respond-to("medium-up") {
    transition: none;
    padding-left: #{$side-larger + $main-padding};
  }
}
