$color-track: white;
$color-bg-playing: rgba(35, 35, 35, 0.7);

.album-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .album-info-img {
    width: 30rem;
    max-width: 100%;

    img {
      width: 100%;
    }
  }

  .album-info-meta {
    padding: 2rem;

    .name,
    .genre,
    .artist,
    .year,
    .label,
    .diskno {
      display: block;
    }

    .name {
      font-size: 5rem;
    }
  }
}
