.album-tracks {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 30px 20px;
  height: 500px;
  overflow-y: auto;
  z-index: 0;

  div {
    height: 40px;
    overflow: hidden;
    padding: 5px 0;
    //border-top: 1px solid #3d3d3d;

    .album-tracks-menu-inner {
      float: right;
    }

    .album-tracks-title {
      padding-left: 10px;
    }

    &.playing {
      background-color: blue;
    }
  }
}
