.album-tracks {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  height: 500px;
  overflow-y: auto;

  div {
    height: 40px;
    overflow: hidden;
    padding: 5px 0;
    //border-top: 1px solid #3d3d3d;
  }
}
