.allpl {
  display: block;
  position: relative;
  font-size: 1.5rem;

  .grid-target {
    @include respond-to('extra-large-up') {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .allpl-li {
    transition: background-color 0.5s ease;
    padding-bottom: 1rem;

    &:nth-child(7n + 1) {
      .allpl-img-inner {
        background: url('../assets/images/default_pl_1.jpg') no-repeat center center;
        background-size: cover;
      }
    }

    &:nth-child(7n + 2) {
      .allpl-img-inner {
        background: url('../assets/images/default_pl_2.jpg') no-repeat center center;
        background-size: cover;
      }
    }

    &:nth-child(7n + 3) {
      .allpl-img-inner {
        background: url('../assets/images/default_pl_3.jpg') no-repeat center center;
        background-size: cover;
      }
    }

    &:nth-child(7n + 4) {
      .allpl-img-inner {
        background: url('../assets/images/default_pl_4.jpg') no-repeat center center;
        background-size: cover;
      }
    }

    &:nth-child(7n + 5) {
      .allpl-img-inner {
        background: url('../assets/images/default_pl_5.jpg') no-repeat center center;
        background-size: cover;
      }
    }

    &:nth-child(7n + 6) {
      .allpl-img-inner {
        background: url('../assets/images/default_pl_6.jpg') no-repeat center center;
        background-size: cover;
      }
    }

    &:nth-child(7n + 7) {
      .allpl-img-inner {
        background: url('../assets/images/default_pl_7.jpg') no-repeat center center;
        background-size: cover;
      }
    }

    .allpl-a {
      cursor: pointer;
    }

    .allpl-img-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20rem;
      overflow: hidden;

      .allpl-img-inner,
      .allpl-img-overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        transition: transform 1s ease, opacity 0.5s ease;
      }

      .allpl-img-overlay {
        background: $black;
        opacity: 0.1;
      }

      .menu-play > button,
      .menu-add {
        position: relative;
        opacity: 0;
      }
    }

    .menu-play > button:focus,
    .menu-add:focus {
      opacity: 1;
    }

    .allpl-title,
    .allpl-tracks,
    .allpl-author {
      padding: 0 1rem;
    }

    .allpl-title {
      font-size: 2em;
      line-height: 1;
      color: $white;
      margin: 1rem 0;
    }

    .allpl-tracks {
      font-size: 1rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:hover,
    &.is-playing {
      .allpl-img-wrapper {
        .allpl-img-inner {
          transform: scale(1.2);
        }

        .allpl-img-overlay {
          opacity: 0.8;
        }

        .menu-play > button,
        .menu-add {
          opacity: 1;
        }
      }
    }
  }
}
