$color-bg-track: $color-bg-row;
$color-bg-track-hover: $color-bg-row-hover;
$color-border-track: $border-row;

$color-link-track: $link-color;
$color-link-track-hover: $link-color-hover;

$color-icon-track: $color-primary;
$color-icon-track-hover: $color-primary-hover;

$image-size-track-small: 5rem;
$image-size-track: 7rem;

.tracks-items-row,
.tracks-items-row-header {
  display: grid;
  grid-template-columns: $image-size-track-small 1fr 1fr 0.5fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'image title title title menu'
    'image artist album time menu';
  grid-column-gap: 2rem;
  align-items: center;
  color: $color-link-track;
  border-bottom: 1px solid $gray-ghost;
  transition: transform 0.7s ease;

  .tracks-item-img {
    grid-area: image;
  }

  .title,
  .album,
  .artist,
  .time {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    grid-area: title;
  }

  .time {
    grid-area: time;
    color: $gray-600;
  }

  .artist {
    grid-area: artist;
    color: $gray-600;
  }

  .album {
    grid-area: album;
    color: $gray-600;
  }
}

.tracks-items-row-header {
  display: none;
  padding-bottom: 2rem;
  text-transform: uppercase;

  .title,
  .album,
  .artist,
  .time {
    color: $gray-500;
  }
}

.tracks-items-row {
  .tracks-item-img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1rem;

    & > img {
      height: $image-size-track-small;
      width: $image-size-track-small;
    }

    & > .icon-play {
      position: absolute;
      opacity: 0;
      color: $color-icon-track;
    }

    & > .icon-play-anim-container,
    & > .icon-pause {
      position: absolute;
      opacity: 1;
      color: $color-icon-track;
    }
  }

  button {
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  &:hover {
    border-bottom: #{$color-border-fol-item};
    transform: scale3d(1.02, 1.02, 1);

    .tracks-item-img {
      & > img {
        opacity: 0.1;
      }

      & > .icon-play {
        opacity: 1;
      }
    }
  }
}

.playing {
  .tracks-items-row {
    .title,
    .album,
    .artist,
    .time {
      color: $color-primary;
    }

    button {
      color: $color-primary;
    }
  }
}

.tracks-item-menu {
  grid-area: menu;

  & > .btn {
    background: none;
  }
}

@include respond-to('small-up') {
  .tracks-items-row,
  .tracks-items-row-header {
    grid-template-areas: 'image title artist album time menu';
    grid-template-columns: $image-size-track 2fr 1fr 1fr 0.5fr auto;
    grid-template-rows: auto;

    .tracks-item-img {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 1rem;

      & > img {
        height: $image-size-track;
        width: $image-size-track;
      }
    }
  }

  .tracks-items-row-header {
    display: grid;
  }
}
