$color-bg-track: $color-bg-row;
$color-bg-track-hover: $color-bg-row-hover;
$color-border-track: $border-row;

$color-link-track: $link-color;
$color-link-track-hover: $link-color-hover;

$color-icon-track: $color-primary;
$color-icon-track-hover: $color-primary-hover;

$image-size-track: 60px;

.alltracks-item-album {
  display: grid;
  grid-template-areas: "image title" "menu menu";
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 1rem;
  background-color: $color-bg-row;
  color: $color-link-track;
  border-bottom: #{$color-border-track};

  &:hover {
    background-color: $color-bg-row-hover;
    color: $color-link-track-hover;

    .tracks-item-img {
      & > img {
        opacity: 0.4;
      }

      & > .icon-play {
        opacity: 1;
      }
    }
  }
}

.tracks-item-img {
  grid-area: image;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & > img {
    height: $image-size-track;
    width: $image-size-track;
  }

  & > .icon-play {
    position: absolute;
    opacity: 0;
    color: $color-icon-track;
  }

  & > .icon-play-anim-container,
  & > .icon-pause {
    position: absolute;
    opacity: 1;
    color: $color-icon-track;
  }

}

.tracks-item-info {
  grid-area: title;
  word-break: break-all;

  .name {
    font-size: 1rem;
  }

  .date {
    font-size: 0.8rem;
  }

  .artist {
    margin-right: 10px;
    width: 200px;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
  }
}

.tracks-item-menu {
  grid-area: menu;

  & > .btn {
    background: none;
    color: $color-icon-fol-item;
  }
}

@include respond-to("small-up") {
  .alltracks-item-album {
    grid-template-areas: "image title menu";
    grid-template-columns: auto 1fr auto;
  }
}