$ab-info-width: 400px;
$ab-control-width: 170px;
$ab-menu-width: 170px;
$ab-img-size: 100px;

.app-main-container {
  padding-bottom: 200px;
}

.pr-control-element {
  display: flex;
  justify-content: center;

  .mtn-elmt {
    font-size: 0.85rem;
  }

  .pr-control-bar {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0 10px;
    padding: 10px 0;
    cursor: pointer;

    .pr-bar {
      position: absolute;
      top: 10px;
      left: 0;
      height: 2px;
      transition: height 0.5s;
    }

    .pr-bar-played {
      background-color: #00f8f0;
    }

    .pr-bar-buffed {
      background-color: #fff;
    }

    .pr-bar-line {
      width: 100%;
      background-color: #bcbcbc;
    }

    .pr-bar-handler {
      position: absolute;
      //top: 3px;
      top: 5px;
      width: 15px;
      height: 15px;
      margin-left: -7px;
      border-radius: 50%;
      background-color: #00f8f0;
      transform: scale(0.5);
      opacity: 0;
      transition: transform 0.3s, opacity 0.3s;
    }
  }

  &.pr-is-pressed {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
  }

  &.pr-is-pressed .pr-control-bar,
  .pr-control-bar:hover {
    .pr-bar {
      height: 5px;
    }

    .pr-bar-handler {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.audioBar {
  z-index: 1000;
  background: #1e1e1e;
  color: white;

  .audioBar-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: $ab-img-size;
    padding-left: $ab-img-size;

    .audioBar-coll {
      display: block;
      overflow: hidden;
      flex-grow: 1;
    }

    .audioBar-img {
      position: absolute;
      display: block;
      left: 0;
      top: 0;

      img {
        width: $ab-img-size;
        height: $ab-img-size;
      }
    }

    .audioBar-meta {
      padding: 0 0.5em;
    }

    .audioBar-range {
      padding: 0 0.5em;
      flex-grow: 5;
    }

    .audioBar-control {
      padding: 0 0.5em;
      text-align: right;
    }

    .audioBar-menu {
      padding: 0 0.5em;
    }

    .audioBar-meta {
      padding: 0 0.5em;

      .audioBar-info-label {
        color: white;
        font-size: 0.8em;
        text-transform: uppercase;
      }

      .audioBar-info-name {
        color: #d5d5d5;
      }

      .audioBar-info-artist {
        font-size: 0.8em;
        color: #3d3d3d;
      }

      .audioBar-info-year {
        font-size: 0.8em;
        color: #3d3d3d;
      }
    }
  }
}

