
.playerRange {
  width: 400px;
  border: none;

  &.noUi-horizontal {
    .noUi-connect {
      background-color: #00f8f0;
    }

    .noUi-handle {
      display: none;
      border-radius: 50%;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.audioBar {
  transition: transform 0.5s ease;
  transform: translate3d(0, calc(100% - 60px), 0);
}

.audioBar.show {
  transform: translate3d(0, 0, 0);
}

.audioBarBottom {
  width: 100%;
  overflow-y: auto;
}
