.search-bar {
  input[type=radio] {
    display: none;
  }

  .search-input {
    margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    transition: box-shadow 0.1s ease, border 0.1s ease, width 0.3s ease;
    box-shadow: none;
  }

  .sb-filter-panel {
    position: relative;
    margin: 20px 0;
    height: 130px;

    input[name=inputText] {
      position: relative;
      height: 50px;
      top: 40px;
      left: 40px;
      border-radius: 25px;
      background-color: white;
      border-width: 0;
      box-shadow: 0 0 10px 0 #656565;
      width: 400px;

      &:focus {
        width: 600px !important;
      }
    }

    input[name=inputFilter] {
      position: absolute;
      height: 40px;
      bottom: 0;
      left: 50px;
      border-radius: 20px;
      background-color: rgb(116, 207, 204);
      color: white;
      border-width: 0;
      width: 0;

      &:focus {
        width: 400px !important;
        padding-left: 45px;
      }
    }

    .sb-filter-menu {
      position: absolute;
      height: 130px;
      width: 65px;
      background-color: rgb(116, 207, 204);
      border-radius: 65px 0 0 65px;
      left: 0;

      label {
        display: inline-block;
        position: absolute;
        line-height: 40px;
        height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 50%;
        color: white;
        background-color: rgb(116, 207, 204);
        cursor: pointer;

        &:hover {
          background-color: #00b5ad;
        }

        &:nth-child(1) {
          top: 0;
          right: -22px;
        }

        &:nth-child(2) {
          top: 43px;
          left: 0;
        }

        &:nth-child(3) {
          bottom: 0;
          right: -22px;
        }
      }
    }
  }

  input[type=radio]:checked ~ .sb-filter-panel input[name=inputFilter] {

  }

  input[id=filter1]:checked ~ .sb-filter-panel label[for=filter1],
  input[id=filter2]:checked ~ .sb-filter-panel label[for=filter2],
  input[id=filter3]:checked ~ .sb-filter-panel label[for=filter3] {
    background-color: #00b5ad;
  }

  .sb-filter {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 70px;

    .sb-filter-token {
      display: inline-block;
      line-height: 1;
      margin-right: 1px;
      padding: 4px 10px 6px;
      list-style-type: none;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      cursor: pointer;

      &:nth-child(1) {
        padding-left: 30px;
      }

      span {
        font-size: 0.8em;
        color: #d0d0d0;
      }
    }
  }
}
