.add-pl-form {
  width: 100%;

  input {
    display: none;
    line-height: 5rem;
    font-size: 3rem;
  }

  .allpl-title {
    display: inline-block;
    color: $gray-300;
    border: none;
    border-bottom: 1px solid $white;
    background-color: transparent;
    width: 100%;
    max-width: 500px;
    transition: max-width 0.5s ease;

    &:focus {
      max-width: 100%;
    }
  }
}
