$side-larger: 20rem;
$main-padding: 2rem;

$color-bg-side-bar: $black;
$color-font-side-bar: $white;

$color-bg-side-bar-phone: $black;
$color-font-side-bar-phone: $white;

$color-bg-body: $white;

/////// Body Init

html,
body,
#root {
  display: block;
  position: relative;
  height: 100%;
}

body {
  background: url('../../../../../public/images/ginkgo_gris.png') no-repeat center fixed;
  background-color: $color-bg-body;
}

//////////////////////////// LAYOUT

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#side-and-main-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#main-side {
  background: $color-bg-side-bar-phone;
  position: absolute;
  display: inline-block;
  height: 100%;
  transition: left 1s, background 1s, width 1s;
  left: -$side-larger;
  width: $side-larger;
  z-index: $zindex-navigation-small;

  & > nav {
    position: relative;
    height: 100%;

    & > ul {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: stretch;

      & > li {
        position: relative;
        text-align: center;

        &:last-child {
          margin-top: auto;
          margin-bottom: 20px;
        }

        & > a {
          width: 100%;
          display: inline-block;
          padding: 25px;
          color: $color-font-side-bar-phone;
        }
      }
    }
  }

  @include respond-to("medium-up") {
    left: 0;
    background: $color-bg-side-bar;

    & > nav > ul > li > a {
      color: $color-font-side-bar;
    }
  }

  &.menu-is-open {
    width: 100%;
    left: 0;
  }
}

#main-content {
  display: inline-block;
  width: 100%;
  overflow: auto;
  height: 100%;
  transition: padding 1s;
  padding: $main-padding;

  @include respond-to("medium-up") {
    padding-left: #{$side-larger + $main-padding};
  }
}

//////////////////////////// NAV BTN

$color-nav-btn: $black;
$color-nav-btn-active: $white;

.nav-button {
  padding: 12px;
  z-index: $zindex-navigation;
  position: absolute;
  right: 0;
  color: $color-nav-btn;

  &.is-active {
    & > i::before,
    & > i::after {
      transition: background-color 1s;
      background: $color-nav-btn-active;
    }
  }
}

